# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
diversidad
testsUnitarios
tiempos
planificacion

# debug information files
*.dwo

# Project specific
*.csv
*.zip
*.pdf
*.jpg
assets/*.pdf
src/ar/assets/
src/bt/assets/
!Memoria_AED2_Convocatoria_II_2025/assets/
